################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/config/applicationhost.config
