################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/config/applicationhost.config
/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/FileContentIndex/0fe9ee05-4c85-4480-9398-20ad9d8a4a5f.vsidx
/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/FileContentIndex/read.lock
/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/v17
/KatharsisDreamProjectAPI/.vs/ProjectEvaluation
/KatharsisDreamProjectAPI/KatharsisDream.Repository/bin/Debug/net6.0
/KatharsisDreamProjectAPI/KatharsisDream.Repository/obj
/KatharsisDreamProjectAPI/KatharsisDream.Service/bin/Debug/net6.0
/KatharsisDreamProjectAPI/KatharsisDream.Service/obj
/KatharsisDreamProjectAPI/KatharsisDreamProjectAPI/bin/Debug/net6.0
/KatharsisDreamProjectAPI/KatharsisDreamProjectAPI/obj
/KatharsisDreamProjectAPI/.vs/KatharsisDreamProjectAPI/DesignTimeBuild
